@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-50: #f2f2f2;
    --primary-100: #d9d9d9;
    --primary-200: #bfbfbf;
    --primary-300: #a6a6a6;
    --primary-400: #8c8c8c;
    --primary-500: #737373;
    --primary-600: #595959;
    --primary-700: #404040;
    --primary-800: #262626;
    --primary-900: #0d0d0d;

    --accent-50: #fff7dc;
    --accent-100: #ffeaaf;
    --accent-200: #fee07f;
    --accent-300: #feda4d;
    --accent-400: #fec01f;
    --accent-500: #e49908;
    --accent-600: #b26a01;
    --accent-700: #7f4300;
    --accent-800: #4c2300;
    --accent-900: #1b0900;
  }

  html {
    font-size: 62.5%;
    background-color: var(--primary-900);
    color: var(--primary-50);
  }

  body {
    font-size: 1.6rem;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  button {
    color: var(--primary-50);
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
